.landing {
  position: relative;
  height: 100vh;
}

.landing-art-container,
.landing-text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-art {
  height: 100%;
  animation: levitating 2s ease infinite;
}

.landing-text-container {
  z-index: 1;
  text-align: center;
}

.landing-text {
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 800;
  color: gray;
}

.landing-text .highlight {
  font-size: 80px;
}

@keyframes levitating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.skills {
  background-color: black;
  color: white;
}

.skill {
  position: relative;
  font-weight: 700;
  padding: 50px 40px;
}

.about-container {
  padding: 50px 0;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

.about-left {
  width: 550px;
  position: relative;
}

.about-left-background-container {
  height: 100%;
  width: 100%;
}

.about-left-background {
  height: 100%;
  width: 100%;
}

.about-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-details-title {
  font-size: x-large;
  font-weight: 600;
}

.about-details-text {
  color: gray;
}

.about-summary {
  display: flex;
  align-items: flex-start;
  gap: 10px 30px;
  flex-wrap: wrap;
}

.about-summary-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 600;
}

.about-summary-item-title {
  color: var(--highlight);
}

@media screen and (max-width: 1150px) {
  .landing {
    height: 100%;
    padding: 100px 0;
  }

  .landing-art-container {
    position: relative;
  }

  .landing-art {
    width: 100%;
  }

  .landing-text {
    font-size: large;
  }

  .landing-text .highlight {
    font-size: x-large;
  }

  .about-container {
    padding: 0 10px 50px 10px;
  }

  .about {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
  }

  .about-left {
    width: 100%;
  }
}
